{# src/AppBundle/Resources/views/Common/paginationBar.html.twig #}
<aside class="pagination-holder">
    <ul>
        <li><a href="#" class="icon icon-arrow-up"></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#" class="icon icon-arrow-down"></a></li>
    </ul>
</aside>
