{# src/AppBundle/Resources/views/Filter/currency.html.twig #}
<div class="item">
    <h3>Валюта</h3>
    <div class="check-holder">
        <input type="radio" name="filter[currency]" value="usd" id="currency-usd">
        <label for="currency-usd"><span>USD</span></label>
    </div>
    <div class="check-holder">
        <input type="radio" name="filter[currency]" value="uah" id="currency-uah">
        <label for="currency-uah"><span>UAH</span></label>
    </div>
</div>