{# src/AppBundle/Resources/views/Filter/estate_type.html.twig #}
<div class="item">
    <h3>Тип недвижимости</h3>
    <div class="check-holder">
        <input type="radio" name="filter[property_type]" value="apartment" id="property-type-apartment">
        <label for="property-type-apartment"><span>квартири</span></label>
    </div>
    <div class="check-holder">
        <input type="radio" name="filter[property_type]" value="house" id="property-type-house">
        <label for="property-type-house"><span>будинки</span></label>
    </div>
</div>