{# src/AppBundle/Resources/views/Filter/feature.html.twig #}
<div class="item">
    <h3>Тип будинку</h3>
    <div class="check-holder">
        <input type="radio" name="filter[house_type]" value="old" id="house-type-old">
        <label for="house-type-old"><span>старий</span></label>
    </div>
    <div class="check-holder">
        <input type="radio" name="filter[house_type]" value="new" id="house-type-new">
        <label for="house-type-new"><span>новий</span></label>
    </div>
</div>