{# src/AppBundle/Resources/views/Filter/price.html.twig #}
<div class="item">
    <h3>Ціна</h3>
    <div class="range-holder" data-min="0" data-range-min="0" data-max="1000" data-range-max="1000"></div>
    <div class="field-holder">
        <span>від</span>
        <input type="text" name="filter[price_min]" value="0" id="price-min" class="counter">
        <span>до</span>
        <input type="text" name="filter[price_max]" value="1000" id="price-max" class="counter">
    </div>
</div>