{# src/AppBundle/Resources/views/Filter/space.html.twig #}
<div class="item">
    <h3>Площа</h3>
    <div class="range-holder" data-min="20" data-range-min="20" data-max="4000" data-range-max="4000"></div>
    <div class="field-holder">
        <span>від</span>
        <input type="text" name="filter[area_min]" value="20" id="area-min" class="counter">
        <span>до</span>
        <input type="text" name="filter[area_max]" value="4000" id="area-max" class="counter">
    </div>
</div>